nav div {
    display: inline-block;
    margin-right: 3.0em;
}

nav div:last-child {
    margin-right: 0;
}

nav label {
    cursor: pointer;
}

nav input#search {
    width: 25.0em;
}

nav input#failed {
    width: 5.0em;
}

nav input#tested {
    width: 5.0em;
}

nav input#untested {
    width: 5.0em;
}
