div.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    visibility: hidden;
    backdrop-filter: blur(2px) grayscale(0.5) sepia(0.1);
}

div.overlay.visible {
    visibility: visible;
}
