main table.view {
    border: 1px solid #000;
    border-collapse: separate;
    border-radius: 0.25em;
    border-spacing: 0.1em;
    margin: 0 auto 5.0em;
    padding: 0.5em;
}

main table.view:last-child {
    margin-bottom: 0;
}

main table.view caption {
    caption-side: top;
    cursor: pointer;
    font-size: 150%;
    margin: 0 1.0em;
    margin-bottom: -1px;
    text-align: left;
}

main table.view caption span {
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 0.25em 0.25em 0 0;
    display: inline-block;
    padding: 0.25em 0.25em 0;
}

main table.view caption:hover span {
    text-decoration: underline;
}

main table.view thead:before {
    content: '';
    display: block;
    margin-top: 0.25em;
}

main table.view thead td {
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    font-weight: bold;
    min-width: 10.0em;
    text-align: center;
}

main table.view thead th {
    border-bottom: 3px double #000;
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    min-width: 10.0em;
    text-align: center;
}

main table.view thead td:first-child,
main table.view thead th:first-child {
    border-left: 0;
}

main table.view thead td:last-child,
main table.view thead th:last-child {
    border-right: 0;
}

main table.view thead:after {
    content: '';
    display: block;
    margin-top: 0.25em;
}

main table.view tbody td {
    min-width: 10.0em;
    overflow: hidden;
    padding: 0.25em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main table.view tbody td span.notes {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0.1em;
    top: auto;
    bottom: auto;
}

main table.view tbody td span.notes:before {
    content: '📝';
}

main table.view tbody td a.status {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25em;
    cursor: pointer;
    display: block;
    font-weight: bold;
    position: relative;

    background-color: rgba(146, 131, 116, 0.5);
    border-color: #928374;
    color: #7c6f64;
}

main table.view tbody td a.status:hover {
    opacity: 0.75;
}

main table.view tbody td a.SUCCESS {
    background-color: rgba(152, 151, 26, 0.5);
    border-color: #98971a;
    color: #79740e;
}

main table.view tbody td a.FAILURE {
    background-color: rgba(204, 36, 29, 0.5);
    border-color: #cc241d;
    color: #9d0006;
}

main table.view tbody td a.ABORTED,
main table.view tbody td a.NODE_FAILURE,
main table.view tbody td a.RETRY,
main table.view tbody td a.RETRY_LIMIT {
    background-color: rgba(215, 153, 33, 0.5);
    border-color: #d79921;
    color: #b57614;
}

main table.view tbody td a.voting {
    border-style: solid;
}

main table.view tbody td a.non-voting {
    border-style: dotted;
}

main table.view tfoot td {
    min-width: 10.0em;
    padding: 0.25em;
    text-align: center;
}
