<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Zuul Jobs Board</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='views.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='results.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='toast.css') }}">
        <script src="{{ url_for('static', filename='filtering.js') }}"></script>
        <script src="{{ url_for('static', filename='notes.js') }}"></script>
        <script src="{{ url_for('static', filename='overlay.js') }}"></script>
        <script src="{{ url_for('static', filename='toast.js') }}"></script>
        <script src="{{ url_for('static', filename='functions.js') }}"></script>
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}">
                <h1>Zuul Jobs Board</h1>
                <h2>– neatly presented statuses</h2>
            </a>
        </header>
        {% block navigation %}
        {% endblock %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>
                Last update: {{ last_update }}
            </p>
            <p>
                &copy; 2022–2023
                –
                <a href="https://github.com/sdatko/zuul-jobs-board">Zuul Jobs Board</a>
                by
                <a href="https://datko.pl/">Szymon Datko</a>
            </p>
        </footer>
    </body>
</html>
