{% extends "base.html.j2" %}
{% block content %}
    <div class="details" id="details-for-{{ result.id }}">
        {% with form_reset_button=True %}
        {% include 'details-form.html.j2' %}
        {% endwith %}
    </div>
{% endblock %}
