{% extends "base.html.j2" %}
{% block content %}
            <div class="views">
                <h1>Select view</h1>
                <ul>
                    {%- for view in views | sort %}
                    <li><a href="{{ url_for('view', name=view) }}">{{ view }}</a></li>
                    {%- endfor -%}
                </ul>
            </div>
{% endblock %}
