{% extends "base.html.j2" %}
{% block navigation %}
        <nav>
            <div>
                <label for="search">Search:</label>
                <input type="search" name="search" id="search" autocomplete="off" value="{% if query %}{{ query }}{% endif %}" />
            </div>
        </nav>
{% endblock %}
{% block content %}
    <table class="notes">
        <thead>
            <tr>
                <th>Project</th>
                <th>Branch</th>
                <th>Job</th>
                <th>Pipeline</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {%- for result in results %}
            <tr data-search="{{ result.project }} {{ result.branch }} {{ result.job }} {{ result.piepline }} {{ result.status }} {{ result.notes | e }}">
                <td>
                    {{ result.project }}
                </td>
                <td>
                    {{ result.branch }}
                </td>
                <td>
                    {{ result.job }}
                </td>
                <td>
                    {{ result.pipeline }}
                </td>
                <td>
                <b class="status {{ result.status }} {% if result.voting %}voting{% else %}non-voting{% endif %}">{{ result.status }}</b>
                </td>
                <td class="text" title="{{ result.notes | e | replace('\n', '&#10;') }}">
                    {{ result.notes | e }}
                </td>
                <td>
                    <a class="edit" href="{{ url_for('details', id=result.id) }}">[Edit]</a>
                    <div class="overlay">
                        <div class="details details-box" id="details-for-{{ result.id }}">
                            {% with form_cancel_button=True %}
                            {% include 'details-form.html.j2' %}
                            {% endwith %}
                        </div>
                    </div>
                </td>
            </tr>
        {%- endfor -%}
        </tbody>
    </table>
    <p class="notes-summary">Total: {{ results | length }}</p>
{% endblock %}
